---
import { Image } from 'astro:assets';
import { headerLogo } from '../assets/images';
import { navLinks } from '../constants';
import { hamburger } from '../assets/icons';

type Props = {
    title: string
};

const { title } = Astro.props;
---

<header class="padding-x py-8 absolute z-10 w-full">
    <nav class="flex justify-between items-center max-container">
        <a href="/">
            <Image src={headerLogo} alt={title} width={130} height={29}/>
        </a>
        <ul class="flex-1 flex justify-center items-center gap-16 max-lg:hidden">
            {navLinks.map((item) => {
                return (
                    <li>
                        <a href={item.href} class="font-montserrat leading-normal text-lg text-slate-gray">
                            {item.label}
                        </a>
                    </li>
                );
            })}
        </ul>
        <div class="hidden max-lg:block">
            <Image src={hamburger} alt="Hamburger" width={25} height={25}/>
        </div>
    </nav>
</header>
